* {
  box-sizing: border-box;
}

body {
  margin: 16px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
}
li {
  list-style: none;
  padding: 0;
  margin: 0;
}
#categories {
  width: 440px;
  padding: 24px;
  background-color: #ffffff;
  border-radius: 12px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
}

.item {
  background-color: #f6f5fc;
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 20px;
}

.item h2 {
  margin-top: 0;
  font-size: 20px;
  color: #2c2c2c;
  margin-bottom: 15px;
  font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 24px;
    line-height: 1.33333;
    letter-spacing: 0.04em;
    color: #2e2f42;
  
}

.item ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.item ul li {
  background-color: #ffffff;
  border: 1px solid #ccc;
  border-radius: 6px;
  padding: 10px 15px;
  margin-bottom: 10px;
  
  font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #2e2f42;
}



.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 48px 24px;
  list-style: none;
  padding: 100px 156px;
  margin: 0 auto;
  max-width: 1128px;
 
}

.gallery-item {
  flex-basis: calc((100% - 60px) / 3);
  /* 3 колонки с учётом отступов */
  box-sizing: border-box;
  overflow: hidden;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  
}

.gallery-image {
  display: flex;
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 8px;
 
 
}





.login-form {
  background-color: #ffffff;
  padding: 40px;
  border-radius: 16px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.05);
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 100%;
  max-width: 360px;
}

.login-form label {
  display: flex;
  flex-direction: column;
  font-size: 18px;
  color: #1a1a1a;
}

.login-form input {
  margin-top: 8px;
  padding: 16px;
  border: 1px solid #999;
  border-radius: 8px;
  font-size: 16px;
}

.login-form button {
  margin-top: 8px;
  padding: 16px;
  background-color: #4f7dfc;
  color: white;
  font-size: 18px;
  font-weight: 500;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.login-form button:hover {
  background-color: #3a65e0;
}




.color {
  font-weight: 600;
}

.change-color {
  background-color: #4f7dfc;
  color: #ffffff;
  border: none;
  padding: 16px 40px;
  font-size: 18px;
  border-radius: 12px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.change-color:hover {
  background-color: #3a65e0;
}
.widget {
  background-color: #ffffff;
  padding: 32px;
  border-radius: 20px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.05);
  text-align: center;
  min-width: 320px;
}

.widget p {
  font-size: 24px;
  margin-bottom: 24px;
  color: #1f1f1f;
}